.chess-input{
    background: transparent;
    border: none;
    border-bottom: 2px solid #42c1e0;
    transition: 2s ;
    margin-top:50px;
    outline: none;
    width:50%;
}
.chess-submit{
    margin-top:50px;
    margin-bottom: 50px;
    background-color: #42c1e0;
    transition: 1s;
    color:white;
    border:none;
    padding:10px;
    border-radius: 5px;
}
.chess-submit:hover{
    background-color: #0c3338;
    transition: 1s;
    color:#ffffff;
    border:none;
    padding:10px;
    border-radius: 5px;
}