.footer-main {
    color: white;
    /*background-color: #262527;*/
    background-image: linear-gradient(45deg, #040405 10%, #0b0d0d 10%, #0b0d0d 50%, #040405 50%, #040405 60%, #0b0d0d 60%, #0b0d0d 100%);
    background-size: 7.07px 7.07px;
    padding-top: 3em;
    position: relative;
    padding-bottom: 10%;
    width: 100%;
    left:0; 
  }
  
  .margin{
      margin-left:30%;
  }
  