@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
.fonts-footer {
    font-family: 'Press Start 2P';
    color: #38e2ee;
    font-size: 10px;
}

.fonts-copyright {
    font-family: 'Press Start 2P';
    font-size: 9px;
}

.footer-main {
    color: white;
    background-color: #09080a;
    /*background-image: linear-gradient(45deg, #000000 12.50%, #09090a 12.50%, #09090a 50%, #000000 50%, #000000 62.50%, #09090a 62.50%, #09090a 100%);
    background-size: 5.66px 5.66px;*/
    padding-top: 1em;
    position: relative;
    width: 100%;
    
}
.footer-vocal{
    color:#7f7f81;
    margin-left:25px;
    font-family: 'Press Start 2P';
    font-size: 10px;

}
.footer-useful{
    font-family: 'Calibri Light';
    font-size: 25px;
    margin-bottom: 75px;
    text-align: center;
    
   
  
}
.margin {
    padding-top: 3em;
    position: relative;
    padding-bottom: 2%;
    width: 100%;
    left: 0;
}

.link-color {
    display: block;
    padding: 10px;
    color: white;
    width: 40%;
    margin-left: 35%;
    transition: 0.5s;
    text-decoration: none;
    color: #66666d;
}

    .link-color:hover {
        background-color: #35d3d3;
        color: white;
        transition: 0.5s;
    }

.padding-footer {
    padding-top: 30px;
}

.footer-clr {
    background-color: #38e2eeee;
}

.footer-input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #3be7d0;
    width: 80%;
    outline: none;
    margin-bottom: 10px;
}

    .footer-input:focus {
        background: transparent;
        border: none;
        border-bottom: 1px solid #42c1e0;
        width: 80%;
        outline: none;
    }

.footer-copyright {
    padding-top: 30px;
    color: #756d6d;
}

.footer-update {
    font-family: 'Press Start 2P';
    font-size: 10px;
}

.footer-first {
    text-align: left;
    padding-bottom: 40px;
    font-family: 'Press Start 2P';
    font-size: 15px;
    transform: scale(1,1.5);
    text-shadow: 1px 2px 1px #38ccc5, 0 0 1px #f4f7f8;
}

.footer-second {
    text-align: left;
    line-height: 30px;
    color: #66666d;
    transition: 1s;
}

    .footer-second:hover {
        color: #4ab8b8b6;
        transition: 1s;
    }

@media only screen and (max-width:800px) {
    .fonts-footer {
        font-size: 15px;
    }

    .fonts-copyright {
        font-size: 10px;
    }

    .footer-update {
        font-size: 15px;
    }
}
@media only screen and (max-width:800px) {
    .footer-first{
        text-align: center;
    }
    .footer-second{
        text-align: center;
    }
}