.sidebar-div {
    position: fixed;
    height: 338px;
    margin-top: 10%;
    z-index: 10;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    /*background-color:#040405 ;*/
    min-width: 53px;
    background-image: linear-gradient(45deg, #000000 12.50%, #09090a 12.50%, #09090a 50%, #000000 50%, #000000 62.50%, #09090a 62.50%, #09090a 100%);
    background-size: 5.66px 5.66px;
    /*background-color:#121212;*/
}

.disappear {
    display: none;
    z-index: 10;
}

.close {
    padding-bottom: 10px;
}

.ui.secondary.pointing.inverted.vertical.icon.menu .active.item {
    border-color: #38e2ee;
}

.ui.secondary.pointing.inverted.vertical.icon.menu {
    border-color: #38e2ee00;
}

.clr i {
    color: #38e2ee;
}

.clr1 i {
    color: #515555
}



@media only screen and (max-width:1000px) {

    .sidebar-div {
        display: none;
    }

    .disappear {
        display: block;
    }
}

@media only screen and (min-width:1000px) {
    .sidebar-div {
        height: 338px;
    }
}
