.sidebar-div{
    position:fixed;
    height:100%;
    z-index:10;
    /*background-color:#121212;*/
    min-width:53px;
    background-image: linear-gradient(45deg, #040405 10%, #0b0d0d 10%, #0b0d0d 50%, #040405 50%, #040405 60%, #0b0d0d 60%, #0b0d0d 100%);
    background-size: 7.07px 7.07px;
}
.disappear{
    display:none;
    z-index: 10;
}
.close{
    padding-bottom: 10px;
    
}
.ui.secondary.pointing.inverted.vertical.icon.menu .active.item {
    border-color: #38e2ee;
   
  }
.clr i{
    color:#38e2ee;
}
.clr1 i{
    color:#515555
}
@media only screen and (max-width:1000px){
    
    .sidebar-div{
        display: none;
        
    }
    .disappear{
        display: block;
    }

}


