@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
.fonts{
    font-family: 'Press Start 2P';
    
}
.border {
    position: fixed;
    height: 100vh;
    border-right: 6px solid #504f4f;
    z-index: 7;

}
.clr{
    background-color: #706c6c;
    color:#1a1515
}
.marginadj{
    margin-left:70px;
    margin-top:10px;
    width:40%;

}
.backborder{
    border-radius:20px;
    border-color:#706c6c;
    opacity:0.7;
    background-color:#706c6c;
    padding:7px;
    color:#f5f1f1;
}
.backborder:hover{
    opacity:1;
    
}
.homeactive{
    background-color: #110f0f;
    border-radius: 20px;
  
}
.homenotactive{
    background-color: #1d1c1c;
}
.aboutactive{
    background-color: #110f0f;
    border-radius: 20px;
}
.aboutnotactive{
    background-color: #1d1c1c
}
.contactactive{
    background-color: #110f0f;
    border-radius: 20px;
}
.contactnotactive{
    background-color: #1d1c1c;
}
.category1active{
    background-color: #110f0f;
    border-radius: 20px;
    margin-right: 20px;
}
.category1notactive{
    background-color: #2e2b2b;
}
.category2active{
    background-color: #110f0f;
    border-radius: 20px;
    margin-right: 20px;
}
.category2notactive{
    background-color: #2e2b2b;
}
.category3active{
    background-color: #110f0f;
    border-radius: 20px;
    margin-right: 20px;
}
.category3notactive{
    background-color: #2e2b2b;
}
.category4active{
    background-color: #110f0f;
    border-radius: 20px;
    margin-right: 20px;
}
.category4notactive{
    background-color: #2e2b2b;
}

