h1 {
    text-align: center;
}

h2 {
    text-align: center;
    color: aquamarine;
}

.snake {
    width: 100%;
}

.snake-title {
    padding-top: 120px
}

.snake-play {
    background-color: #44b5d1;
    padding: 10px;
    color: white;
    border-radius: 5px;
    transition: 1s;
    width: 10%;
    border: none;
}

.snake-play:hover {
        background-color: white;
        color: #44b5d1;
        border: 1px solid #44b5d1;
        padding: 10px;
        border-radius: 5px;
        transition: 1s;
        width: 10%
}

.snake-track {
    padding-bottom: 30px;
}
.snake-main-play {
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius: 5px;
    padding:10px;
    width:26%;
    color:#14665f;
    transition: 1s;
    border:2px solid #0d4742;
    margin-top:100px;
  
    font-weight: bolder;
   
}
.snake-main-img{
    background-image: url(../images/snake.jpg);
    background-size: 100% 100%;
 

}
.snake-main-content{
    background-color: #8b949363;
    backdrop-filter: blur(4px);
    padding-bottom: 70px;
   
   
}


.snake-main-track{
    background-color: #4bdbcf00;
    border-radius: 5px;
    padding:10px;
    color: #14665f;
    transition: 1s;
    margin-top:100px;
    border:2px solid #0d4742;  
     font-weight: bolder;
    
}
