.master {
    overflow: hidden;
    box-sizing: border-box;
    background-image: url(../images/bg.png);
    background-size: 100% 100%;
}

.side-bar {
    float: left;
    width: 50%;
    justify-content: center;
    padding-top: 20%;
}

.game {
    float: right;
    width: 50%;
}

.board {
    padding-top: 5%;
    display: flex;
    width: 600px;
    height: 600px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 100px;
    margin-bottom:200px;
}

.square {
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    border: 5px solid black;
    font-size: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .square:hover {
        cursor: pointer;
        background-color: #80cd92;
    }

.reset-button {
    display: block;
    width: 120px;
    
    font-size: 25px;
    background-color: #21e44f00;
   text-align: center;
    border: 2px solid #21E44F;
    border-radius: 10px;
    color: #21E44F;
    padding:10px;
    margin-left: 100px;
}

    .reset-button:active {
        background-color: #026F1B;
    }

.button-line {
    display: block;
    width: 500px;
    padding-top: 20px;
}

.active-singleplayer-button {
    padding: 2px;
    display: flex;
    width: 120px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    background-color: #207fe40a;
    border: 2px solid #207fe4f3;
    border-radius: 10px;
    color: #207fe4f3;
    margin-left: 100px;
    margin-bottom: 20px;
}

.deactived-singleplayer-button {
    padding: 2px;
    display: flex;
    width: 120px;
    height: 60px;
    font-size: 20px;
    background-color: #207fe4f3;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    color: white;
    
    margin-left: 100px;
    margin-bottom: 20px;
}

.active-multiplayer-button {
    padding: 2px;
    display: flex;
    width: 120px;
    padding: 10px;
    font-size: 20px;
    background-color: #207fe400;
    justify-content: center;
    align-items: center;
    border: 2px solid #20cde4;
    border-radius: 10px;
    color: #39cbdf;
    
    margin-left: 100px;
}

.deactived-multiplayer-button {
    padding: 2px;
    display: flex;
    width: 120px;
    height: 60px;
    font-size: 20px;
    background-color: #20cde4;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    color: white;
    
    margin-left: 100px;
    margin-bottom: 20px;
}
